{% extends 'myadmin/public/base.html' %}

{% block title %}
<title>修改商品分类名称</title>
{% endblock %}

{% block header %}
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-user page-header-heading-icon"></span> 修改商品分类名称 <small>Amaze UI</small></div>
            <p class="page-header-description"></p>
        </div>
    </div>
</div>
{% endblock %}

{% block con %}
<div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
         <div class="widget am-cf">
            <div class="widget-body am-fr">
                <form class="am-form tpl-form-border-form tpl-form-border-br" method="post" enctype="multipart/form-data" action="{% url 'myadmin_type_edit' %}?tid={{tinfo.id}}">
                    {% csrf_token %}
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">分类名：</label>
                        <div class="am-u-sm-9">
                            <input type="text" name="typename" class="tpl-form-input" required minlength="2" maxlength="30" placeholder="username"
                            value="{{tinfo.typename}}">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
