{% extends 'myadmin/public/base.html' %}

{% block title %}
<title>商品列表</title>
{% endblock %}

{% block header %}
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-user page-header-heading-icon"></span> 商品列表 <small>Amaze UI</small></div>
            <p class="page-header-description"></p>
        </div>
    </div>
</div>
{% endblock %}

{% block con %}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">商品列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                            <div class="am-form-group tpl-table-list-select">
                                <select name="type" data-am-selected="{btnSize: 'sm'}" style="display: none;">
                                  <option value="all"{% if request.GET.type == 'all'%}selected{% endif %}>所有条件</option>
                                  <option value="id"{% if request.GET.type == 'id'%}selected{% endif %}>ID</option>
                                  <option value="title"{% if request.GET.type == 'title'%}selected{% endif %}>商品名</option>
                                  <option value="status"{% if request.GET.type == 'status'%}selected{% endif %}>状态</option>
                                  <option value="typeid"{% if request.GET.type == 'typeid'%}selected{% endif %}>所属分类</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <input type="text" name="keyword" class="am-form-field " value="{{request.GET.keyword}}">
                                <span class="am-input-group-btn">
                                <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"></button>
                              </span>
                            </div>
                        </div>
                    </form>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>商品名</th>
                                    <th>预览图</th>
                                    <th>商品描述</th>
                                    <th>价格</th>
                                    <th>点击量</th>
                                    <th>所属分类</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for i in goodslist %}
                                <tr>
                                    <td class="am-text-middle">{{ i.id }}</td>
                                    <td class="am-text-middle">{{ i.title }}</td> 
                                    <td>
                                        <img src="{{ i.pic }}" class="tpl-table-line-img" width="100px" height="100px" alt="">
                                    </td>
                                    <td class="am-text-middle">{{ i.descr|truncatechars:15 }}</td>
                                    <td class="am-text-middle">{{ i.price }}</td>
                                    <td class="am-text-middle">{{ i.clicknum }}</td>
                                    <td class="am-text-middle">{{ i.typeid.typename }}</td>
                                    <td class="am-text-middle">
                                    {% if i.status == 0 %} 上架
                                    {% elif i.status == 1 %} 下架
                                    {% endif %}
                                    </td>
                                
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="{%url 'myadmin_goods_edit' %}?gid={{ i.id }}&tid={{i.typeid.typename}}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a href="javascript:;" class="tpl-table-black-operation-del del">
                                                <i class="am-icon-trash"></i> 
                                                {% if i.status == 1 %} 上架
                                                {% elif i.status == 0 %} 下架
                                                {% endif %}
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                {% load page %}
                                {% Page goodslist.paginator.num_pages request %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.del').click(function(){
        a = $(this)
        id = a.parents('tr').find('td:eq(0)').text()
        $.get('{% url "myadmin_goods_delete" %}',{id:id},function(data){
            // console.log(data)
            // console.log(data.del)
            if (data.del){
                alert("下架成功")
                a.html('<i class="am-icon-trash"></i> 上架').parents('tr').find('td:eq(7)').text('下架')
                location.href="#"
            }else{
                alert("上架成功")
                a.html('<i class="am-icon-trash"></i> 下架').parents('tr').find('td:eq(7)').text('上架')
                location.href="#"
            }
        },'Json')
    })
</script>
{% endblock %}